*.swp
*.*~
project.lock.json
.DS_Store
*.pyc
._*

# IDE
.idea
.vs/
.vscode

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
[Nn]uget
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/
msbuild.log
msbuild.err
msbuild.wrn
.sonarqube
TestResults/

# Logging
logs
log.txt
log*.txt